/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: myFirstFont;
    src: url("../fonts/myFont.woff");

}

#searchInput {
    margin-right: 50px;
    min-width: 500px;
}

.btn-login {
    font-size: large;
}

.navbar-inverse {
    background-image: none;
    background-color: #7dffcd;
}

.navbar-collapse {
}

.jumbotron {
    background-color: #FFFFFF;
}

.jumbotron h1{
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-family: "myFirstFont";
    font-size: 72px;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 22%;
    padding-bottom: 20%; /* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */
    vertical-align: middle; /* top | middle | bottom ... do what you want */
}

.svg-element {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* only required for <img /> */
}











