

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#searchInput{
    margin-right: 50px;
}

.navbar-inverse {
    background-image:none;
    background-color: #7dffcd;
}


.navbar-collapse {
}












