/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: myFirstFont;
    src: url("../fonts/myFont.woff");

}

@font-face {
    font-family: mySecondFont;
    src: url("../fonts/myFont2.woff");

}

a {
    text-decoration: none !important;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#searchInput {
    margin-right: 50px;
    min-width: 500px;
}

.btn-login {
    font-size: large;
}

.navbar-inverse {
    background-image: none;
    background-color: #7dffcd;
}

.navbar-collapse {
}

.jumbotron {
    background-color: #FFFFFF;
}

 h1{
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-family: "myFirstFont";
    font-size: 72px;
    color: rgb(51,51,51);;
}

.bg-container {
    height: 265px;
    background: url("../img/bg_home.png") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bg-container a {
    position: absolute;
    font-family: "mySecondFont";
    font-size: 3rem;
    color: rgb(71, 71, 71);
    font-weight:bold;
}

.bg-anchor-top {
    top:50px;
}

.bg-anchor-bottom {
    top:180px;
}

.anchor-info {
    background-color: rgb(255, 238, 237);
    padding: 0 10px;
    left: -20px;
}

.bg-grey{
    background-color: rgb(247, 247, 247)
}

.video-wapper {
    margin-bottom: 50px;
}

.bg-footer {
    padding: 30px 0;
}

.bg-footer ul{
    list-style: none;
    padding: 0;
}












